<h1> Vous avez selectionné : {{infirmiere.nom}} {{infirmiere.prenom}}</h1>

<section>
    <div class="BlocDetail">
        <p>Nom : {{infirmiere.nom}} </p>
        <p>Prenom : {{infirmiere.prenom}}</p>
        <p>telelephone-pro : {{infirmiere.tel_pro}} </p>
        <p>telephone perso : {{infirmiere.tel_perso}} </p>
        <p>
            Adresse : {{infirmiere.adresse.numero}} {{infirmiere.adresse.rue}} {{infirmiere.adresse.cp}} {{infirmiere.adresse.ville}}
        </p>
        <p></p>
        <p></p>
    </div>
</section>
