<div class="margin1em">
    <section>
        <div class="card-patient">
            <p>nom : {{infirmiere.nom}} </p>
            <p>prenom : {{infirmiere.prenom}}</p>
            <p>numero professionnel : {{infirmiere.numero_professionnel}} </p>
            <p>tel_pro: {{infirmiere.tel_pro}} </p>
            <p>tel_perso : {{infirmiere.tel_perso}}  </p>
            <button (click)="redirectToAnnonce(infirmiere.id)"
            >Voir details</button>
            
        </div>
    </section>
</div>