section{
    padding: 5px;
    display: flex;
    width: 70vw;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    
}

.margin1em{
    margin: 1em;
}

section:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }