.nav-container{
    background-color: rgb(135, 135, 224);
    width: 100%;
    height: 4em;
    display: flex;
}

.block1{
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    
}

div li{
    list-style-type: none;
    
}

a{
    text-decoration: none;
}

.buttonAnim {
    position: relative;
  }
  
  ::before, ::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #3cefff;
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform 0.5s ease;
  }
  
  ::before {
    left: -8px;
  }
  
  ::after {
    right: -8px;
  }
  
  :hover::before, :hover::after {
    transform-origin: center bottom;
    transform: scaleY(1);
  }