<h1>Modifier l'infirmiere : </h1>

<div class="form"> 
    <label for="">Nom </label>
    <input type="text" placeholder="Entrez un nom">

    <label for="">Prenom </label>
    <input type="text" placeholder="Entrez un prenom">

    <label for=""> Numero professionnel</label>
    <input type="text" placeholder="Entrez un numero professionnel">

    <label for="">Tel_pro</label>
    <input type="text" placeholder="Entrez un numéro de te pro">

    <label for="">Tel_perso</label>
    <input type="text" placeholder="Entrez un numéro de te perso">

    <button class="myButton">Envoyer</button>
</div>
